
@keyframes animeimg {

  0%{transform: translate(-400px);}

  


}

  

 



 


@keyframes animetexto {

  0%{transform: translatex(400px);}
 
   
 
  

}




body{padding: 0;
margin: 0;
background-color:rgba(0, 0, 0, 0.9);
}

p{font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}

 
.logo{
margin-top: 15px;
border-radius: 10%;
margin-left: 20px;
width: 100px;

}

/*menu*/

.cabecalho{width: 100%;
}

.nav{
width: 90%;
margin-top:20px ;
height: 15%;
display: flex;
justify-content: center;
align-items: center;
float: right;
padding: 5px;
}


 

li{font-size :1.10em;

}

   
a{text-decoration: none;
color: #fff;
padding: 20px;

}

ul a:hover{background-color: #ffffff;
color: #010101;
border-radius: 10px;
transition: all 1s ease-in;}

/*fim*/


.carousel{
  width:100%;
  margin: 20px 10px;

}

.carousel-item img{
  width: 50%;
    height: 920px;
   
}

.eslogam{text-align: center;
margin-bottom: 20px;
color: #fff;}

.card{border-radius: 10px;
 height: 100%;
padding: 5px;}

.card img{border-radius: 10px;
height: 80%;}

#container{
height: 85vh;
width: 100%;
margin: 20px;
display: flex;
align-items: center;
gap: 10px;}

.container-filho{width: 50%;
height: 100%;

text-align: center 20px;



align-items: center;
}

.container-filho p{
  height: auto;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  line-height: 40px;
  margin-top: 100px;
  margin-bottom: 20px;
  transition: all 5s;
  animation: animetexto 5s;
  
  

}

.container-filho h2{
  color: #fffefe;
  margin-top: 40px;
  text-align: center;
  transition: all 7s;
  animation: animetexto 7s;


}




.container-filho img{width: 100%;
height: 100%;
transition: all 7s;
animation:animeimg 7s;
border-radius: 15px;


}

#container2{
  margin-top: 100px;
 width: 100%;
  height:1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction:row ;
  align-items: center;
  gap: 10px;








}

.galeria-imagens{color: #fff;
  width: 100%;
text-align: center;


margin-top: 70px;}

.galeria{
flex-basis: 30%;
height: 30%;
border-radius: 10px;

margin-bottom: 20px;
}


.galeria img{
  
   width: 100%;
  height: 100%;
  border-radius: 10px;


} 
.galeria img:hover{ transform: scale(1.1);
  width: 100%;
  height: 100%;
  border-radius: 10px;


} 




.rodape img{margin-top: 50px;
background-position:center ;
background-repeat: no-repeat;
width: 95%;
margin-left: 25px; }

.filho{color: #fff;
text-align: center;
line-height: 30px;
font-size: 30px;}




